/* FORMATEO */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Colores principales */
:root {
  --color-primario: #0d6efd;
  --color-secundario: #6c757d;
  --color-terciario: #ffffff;
  --color-acento: #ffc107;
  --color-fondo: #8e9eab, #3f4c6b, #0f2027;
  --color-texto: #212529;
  --color-texto-carrito-total: #ffffff;
  --color-alert: #f0f4f8;
  --color-botonAlert: #4a6fa5;
  --color-botonEliminar: #dc3545;
}

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, var(--color-fondo));
  color: var(--color-texto);
}

/* Header */
header {
  background-color: var(--color-primario);
  color: var(--color-terciario);
  padding: 10px 20px;
  text-align: center;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerContent {
  display: flex;
  align-items: center;
}

.headerLogo {
  width: 50px;
  margin-right: 10px;
}

header h1 {
  margin: 0;
}

/* Main Section */
main {
  margin: 20px;
}

/* Productos */
.gridContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.producto {
  border: 1px solid var(--color-secundario);
  padding: 10px;
  text-align: center;
  background-color: var(--color-terciario);
}

.productoImagen {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

/* Carrito y Total */
.tituloCarrito {
  font-size: 2em;
  color: var(--color-primario);
  text-align: center;
  margin-bottom: 20px;
}

.carritoCss,
.totalCss {
  border: 5px solid var(--color-primario);
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 10px;
  color: var(--color-texto-carrito-total);
  font-weight: bold;
}

.totalCont {
  font-size: 1.5em;
  font-weight: bold;
  color: var(--color-primario);
}

.ocultar #carritoSection,
#finalizarCompra,
#vaciarCarrito {
  display: none;
}

.ocultarT {
  display: none;
}

/* Productos en el carrito */
.productosCarrito {
  display: flex;
  flex-direction: column;
}

.itemCarrito {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.imagenCarrito {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

.infoProductoCarrito {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.nombreProductoCarrito {
  font-weight: bold;
}

.accionCarrito {
  font-size: 14px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  margin-bottom: 8px;
}

.eliminarProducto {
  background-color: var(--color-botonEliminar);
  color: var(--color-terciario);
  border: none;
}

/* Botones */
button {
  background-color: var(--color-acento);
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  margin: 5px;
}

button:hover {
  opacity: 0.8;
}

.botonCarrito {
  background-color: var(--color-acento);
  color: white;
  font-weight: bolder;
  font-size: 1rem;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}

.botonCarrito img {
  vertical-align: middle;
  margin-right: 5px;
}

.botonCarrito:hover {
  background-color: #ffc371;
}
.botAcept {
  padding: 5px 10px;
  margin-left: 10px;
  background: var(--color-botonAlert);
  border-radius: 4px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

/* Footer */
.footerMain {
  color: #fff;
  background-color: #111;
  font-family: "Arial", sans-serif;
  padding: 40px 0;
}

.footerTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.footerBrand {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
}

.footerLogo {
  width: 150px;
  margin-bottom: 20px;
}

.footerLinks {
  flex: 2;
  display: flex;
  justify-content: space-around;
}

.footerColumn {
  flex: 1;
  padding: 0 20px;
}

.footerColumn h4 {
  font-size: 18px;
  margin-bottom: 15px;
}

.footerColumn ul {
  list-style: none;
  padding: 0;
}

.footerColumn ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footerColumn ul li a:hover {
  color: #ffc107;
}

.footerBottom {
  text-align: center;
  border-top: 1px solid #333;
  padding-top: 20px;
}

/* Media Queries */
@media (max-width: 768px) {
  header {
    flex-direction: column;
    padding: 10px 0;
  }

  .headerContent {
    margin-bottom: 10px;
  }

  .botonCarrito {
    margin-top: 10px;
  }

  button {
    padding: 5px 10px;
  }

  .accionCarrito {
    padding: 6px 10px;
    font-size: 12px;
  }

  .gridContainer {
    grid-template-columns: repeat(2, 1fr);
  }

  .footerTop {
    flex-direction: column;
  }

  .footerBrand,
  .footerLinks {
    flex-basis: 100%;
    margin-bottom: 30px;
  }

  .footerColumn {
    margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .gridContainer {
    grid-template-columns: 1fr;
  }

  header {
    padding: 10px 0;
  }

  .headerLogo {
    width: 40px;
    margin-right: 5px;
  }

  header h1 {
    font-size: 1.5em;
  }

  .botonCarrito {
    font-size: 15px;
    padding: 8px 15px;
    width: 30%;
  }

  .productoImagen {
    width: 50%;
    margin: 0 auto;
  }

  .accionCarrito {
    padding: 4px 8px;
    font-size: 8px;
  }

  button {
    width: 100%;
    margin: 10px 0;
  }

  .itemCarrito {
    flex-direction: column;
    align-items: flex-start;
  }

  .infoProductoCarrito {
    width: 100%;
  }

  .imagenCarrito {
    width: 100px;
    margin-bottom: 10px;
  }

  .eliminarProducto {
    width: 100%;
  }

  .accionCarrito {
    width: 100%;
    margin-bottom: 5px;
  }
}
